/* YOUR CSS STYLES */
body {
    background-color: #fbfbfb;
}

p {
    color: gray;
}

/* Specifies style for colorpleth */
.projection {
    stroke: #a9a9a9;
}

.headline {
    margin-bottom: 5px;
    margin-top: 30px;
    text-align: center;
}

#chart-area {
    font-size: 8px;
}

/* Button-inspiration from http://codepen.io/davekilljoy/pen/wHAvb */
button {
    position: relative;
//display: block;
    height: 30px;
    width: 180px;
    margin: 10px 7px;
    padding: 5px;
    font-weight: 70;
    font-size: 7px;
    letter-spacing: 2px;
    color: #383736;
    border: 2px #383736 solid;
    border-radius: 4px;
    text-transform: uppercase;
    outline: 0;
    overflow: hidden;
    background: none;
    z-index: 1;
    cursor: pointer;
    transition: .08s ease-in;
    -o-transition: .08s ease-in;
    -ms-transition: .08s ease-in;
    -moz-transition: .08s ease-in;
    -webkit-transition: .08s ease-in;
}

.btn-filter:hover {
    color: #f5f5f5;
}

.btn-filter:hover:before {
    top: 0;
}

.btn-filter:before {
    content: "";
    position: absolute;
    background: #383736;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
}

.btn-nav {
    color: gray;
    border: gray;
}

/*********************/
/*  TOOLTIP OVERLAY  */
/*********************/
.d3-tip {
    line-height: 1;
    padding: 12px;
    background: rgba(0,0,0,0.8);
    color: #fff;
    border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0,0,0,0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0;
    top: 100%;
    left: 0;
}

#tooltip-info {
    color: gray;
    font-size: 10px;
}