/* GENERAL */

body {
    background-color: #fbfbfb;
    font-family: "Open Sans", sans-serif;
    margin-top:20px;
    padding-left:0px;
    padding-right:0px;
}

p{
    font-size:10px;
}

.row{
    padding-left:50px;
    padding-right:50px;
}



/* BUTTONS */
.btn-nav {
    position: relative;
//display: block;
    height: 30px;
    width: 120px;
    margin: 10px 7px;
    padding: 5px;
    font-weight: 70;
    font-size: 9px;
    letter-spacing: 2px;
    color: #383736;
    border: none;
    border-radius: 4px;
    text-transform: uppercase;
    outline: 0;
    overflow: hidden;
    background: none;
    z-index: 1;
    cursor: pointer;
    transition: .08s ease-in;
    -o-transition: .08s ease-in;
    -ms-transition: .08s ease-in;
    -moz-transition: .08s ease-in;
    -webkit-transition: .08s ease-in;
}

.btn-nav:hover {
    color: orange;
}

.btn-nav:hover:before {
    top: 0;
}

.btn-nav:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
}

.btn-current{
    color:green;
}


.btn-select {
    position: relative;
    height: 30px;
    width: 140px;
    padding: 5px;
    font-weight: 70;
    font-size: 10px;
    letter-spacing: 2px;
    color:white;
    border: 1px gray solid;
    border-radius: 3px;
    text-transform:none;
    outline: 0;
    overflow: hidden;
    background: green;
    z-index: 1;
    cursor: pointer;
    transition: .08s ease-in;
    -o-transition: .08s ease-in;
    -ms-transition: .08s ease-in;
    -moz-transition: .08s ease-in;
    -webkit-transition: .08s ease-in;
}

.btn-loan{
    position: relative;
    height: 30px;
    width: 150px;
    padding: 5px;
    font-weight: 70;
    font-size: 10px;
    letter-spacing: 2px;
    color:black;
    border: 1px gray solid;
    border-radius: 3px;
    text-transform:none;
    outline: 0;
    overflow: hidden;
    background: white;
    z-index: 1;
    cursor: pointer;
    transition: .08s ease-in;
    -o-transition: .08s ease-in;
    -ms-transition: .08s ease-in;
    -moz-transition: .08s ease-in;
    -webkit-transition: .08s ease-in;
}

.btn-loan:hover {
    color: orange;
}

.btn-loan:hover:before {
    top: 0;
}

.btn-loan:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
}

.btn-container{
    padding-top:35px;
    padding-left:10%;
}

.popup{
    width:300px;
    height:300px;
    margin-top: -150px;
    margin-left: -150px;
    position:fixed;
    z-index: 1;
    top:50%;
    left:50%;
    background-color:white;
    border-radius:2px;
}

.popup-form{
    margin-left:10px;
    margin-right:10px;
    margin-top:10px;
    margin-bottom:10px;
}

.form{
    margin-top:10px;
}

#cover{
    position: fixed;
    z-index:1;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.5);
}

.xButton{
    position:absolute;
    top: -2px;
    right:10px;
    font-size:20pt;
    color:gray;
    cursor:pointer;
}

/* TABLES */

#col-table-user{
    padding-top:20px;
}

.table > tbody > tr > td {
    vertical-align: middle;
}