<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="" name="description">
    <title>MicroChain: Projects</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/font-awesome.min.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
</head>
<body>

<div class="container-fluid">

    <!-- Navbar -->
    <div class="navbar">
        <div class="col-md-2"></div>
        <div class="col-md-1"><a href="requests.html"><button class="btn-nav">All Requests</button></a></div>
        <div class="col-md-1"><a href="lent.html"><button class="btn-nav"> Lent</button></a></div>
        <div class="col-md-1"><a href="borrowed.html"><button class="btn-nav">Borrowed</button></a></div>
        <div class="col-md-1"><a href="#"><button class="btn-nav btn-current"><u>Reputation</u></button></a></div>
        <div class="col-md-1"><a href="certification.html"><button class="btn-nav">Certification</button></a></div>
        <div class="col-md-1"><a href="historyUser.html"><button class="btn-nav">User History</button></a></div>
        <div class="col-md-1"><a href="historyProject.html"><button class="btn-nav">Project History</button></a></div>
        <div class="col-md-2"></div>
    </div>

    <hr>

    <!--User information-->
    <div class="row">
        <div class="col-md-12">
            <h3>User Reputation and History</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select a Project
                    <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
            </ul>
            </div>
        </div>
        <div class="col-md-8">
            <table class="table table-condensed table-hover table-sm" id="table-user">
                <tbody>
                <tr id="description">
                <td class="projTitle">Description</td>
                </tr>
                <tr id="lender">
                <td class="projTitle">Lender</td>
                </tr>
                <tr id="borrower">
                <td class="projTitle">Borrower</td>
                </tr>
                <tr id="amount">
                <td class="projTitle">Budget</td>
                </tr>
                <tr id="endTime">
                <td class="projTitle">Deadline</td>
                </tr>
                <tr id="interest">
                <td class="projTitle">Interest</td>
                </tr>
                <tr id="certTarget">
                <td class="projTitle">Certifications Received</td>
                </tr>
                <tr id="curCert">
                <td class="projTitle">Certifications Needed</td>
                </tr>
                <tr id="done">
                <td class="projTitle">Status</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Search for user-->
    <div class="row">

        <div class="col-md-6">
            <div class="dropdown">
                
            </div>
        </div>


    </div>

    <!--User History-->
    <div class="row">
        <h3>Certifiers<small></small></h3>
        <table class="table table-condensed" id="table-history">
            <tbody id="cert-tbody">
            </tbody>
        </table>
    </div>



</div>
<!-- End Container -->

<!-- Load JS libraries -->
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../node_modules/web3/dist/web3.js"></script>
    <script src="../node_modules/bignumber.js/bignumber.min.js"></script>
    <script src="../data/contract.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/projects.js"></script>
</body>
</html>